spring:
  application:
    name: ${APP_NAME}

  main:
    allow-circular-references: true

  datasource:
    url: jdbc:postgresql://${DB_HOST}:${DB_PORT}/${DB_NAME}
    username: ${DB_USER}
    password: ${DB_PASSWORD}
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: ${JPA_DDL_AUTO:update}
    show-sql: ${JPA_SHOW_SQL}
    properties:
      hibernate:
        format_sql: ${JPA_FORMAT_SQL}
    database-platform: ${JPA_DIALECT:org.hibernate.dialect.PostgreSQLDialect}

  data:
    redis:
      host: ${REDIS_HOST:localhost}
      port: ${REDIS_PORT:6379}
      password: ${REDIS_PASSWORD:}

springdoc:
  swagger-ui:
    path: /swagger-ui.html
    tags-sorter: alpha
    operations-sorter: alpha
    display-request-duration: true
    disable-swagger-default-url: true

server:
  tomcat:
    accesslog:
      enabled: true
      pattern: "%t %a \"%r\" %s (%D ms)"


app:
  jwt-secret: ${JWT_SECRET}
  JWT_EXPIRATION_MS: ${JWT_EXPIRATION_MS}
  JWT_ACCESS_MS: ${JWT_ACCESS_MS}
  jwt.access.in.ms: ${JWT_ACCESS_MS}